* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #EEEEEE;
}

.heading {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #3ad635;
}

.cont-div{
    display: flex;
    justify-content: center;
}

.form-div {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 400px;
}

.in-form {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 30px 10px;
    border: 2px solid chartreuse;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 5px chartreuse;
}

.display-div {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.display-div input{
    padding: 0px 15px;
    height: 150px;
    width: 80%;
    font-size: 25px;
    border-radius: 15px;
    border: 0;
    background-color: #D8E9A8;
}

.btn {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin: 2px;
    flex-wrap: wrap;
}

.btn button {
    background-color: #3ad635;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    border: 0;
}

.btn-c {
    display: flex;
    justify-content: start;
    padding: 8px;
    margin: 2px;
    padding-left: 17px;
}

.btn-c button {
    background-color: #3ad635;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    border: 0;
    font-family: 'Poppins', sans-serif;
}